<h1> Checkout </h1>
<table class="table">
<tr> 
  <th> Product Name </th>
  <th> User ID </th>
  <th> Product ID </th>
  <th> Price </th>
  <th> Quantity </th>
  <th> Status </th>
  <th> Subtotal </th>
  <th> Tax </th>
  <th> Total </th>
  <th> Remove Product(s) </th>
</tr>
  <tr>
  <% @carted_products.each do |carted_product| %>

        <td> <%= carted_product.product.name %> </td>
        <td> <%= carted_product.user_id %> </td>
        <td> <%= carted_product.product_id %> </td>
        <td> <%= number_to_currency(carted_product.product.price) %> </td>
        <td> <%= carted_product.quantity %> </td>
        <td> <%= carted_product.status %> </td>
        <td> <%= number_to_currency(@subtotal) %> </td>
        <td> <%= number_to_currency(@tax) %> </td>
        <td> <%= number_to_currency(@total) %> </td>
        <td> <%= link_to "Remove Product","/carted_products/#{carted_product.id}", method: :delete %> </td>
    </tr>
  <% end %>
</table>

<%= form_tag '/orders', method: :post %>

<div>
  <%= submit_tag "Buy Now" %>
</div>

