<%= form_tag "/products/#{@product.id}", method: :patch do %>
<div>
  <%= label_tag :name  %>
  <%= text_area_tag :name, @product.name %>
</div>
<div>
  <%= label_tag :price  %>
  <%= text_area_tag :price, @product.price %>
</div>
<div>
  <%= label_tag :image %>
  <%= text_area_tag :image %>
</div>
<div>
  <%= label_tag :description  %>
  <%= text_area_tag :description, @product.description %>
</div>


<div>
  <%= submit_tag "Update this product" %>
</div>

<% end %>