<h1> Shoes </h1> 

<div class="pull right view-choice">
  <p> 
  <% @categories.each do |category| %>
      <%= link_to "#{category.name} Shoes", "/products?category=#{category.name}" %>
  </p>
  <% end %>
</div>


<% @products.each do |product| %>

<div class="col-md-3">

      
    <p> Name: <%= link_to product.name, "/products/#{product.id}" %> </p> 
    <p> Supplier: <%= product.supplier.company_name %> </p>
    <p> Price: <%= number_to_currency(product.price) %> </p> 
    <p> Tax: <%= number_to_currency(product.tax) %> </p>
    <p> <img src= "<%= product.image %>" class="img-responsive"> </p> 
    <p> Description: <%= product.description %> </p> 
    <p> Total: <%= number_to_currency(product.total) %> </p>

</div>

<% end %> 